{% extends "base.html.twig" %}

{% block title %}liste des produits
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row">
			{% include "_partials/_adminnav.html.twig" %}
			<main class="col-9 border border-light bg-wight p-2">
				<h1>
					liste des produits       <a href="{{path('admin_products_add')}}" class="btn btn-outline-warning">Ajouter
					<img src="{{asset('assets/uploads/icons/plus.png')}}" width="20px" height="20px"/></a></h1>
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
                            <th>Photo</th>
							<th>Catégories</th>
							<th>Nom</th>
							<th>Prix</th>
							<th>Stock</th>
                            <th>Action</th>
						</tr>

					</thead>
					<tbody>
						{% for produit in produits %}
							<tr>
								<td>{{produit.id}}</td>
								<td><img src="{{ asset('assets/uploads/products/mini/300x300-' ~ produit.images[0].name )}}" 
                                         class="card-img-top" alt="{{produit.name}}" width="80" height="80"></td>
								<td>{{produit.categories.name}}</td>
								<td>{{produit.name}}</td>
								<td>{{produit.price / 100}}DA</td>
                                <td>{{produit.stock}}</td>
                                <td>
                                    <a href="{{path('admin_products_edit',{id:produit.id})}}" class="btn btn-outline-success">Modifier</a>
                                    <a href="#" class="btn btn-outline-danger">Supprimer</a>
                                </td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</main>
		</div>
	</div>
{% endblock %}
